{% extends 'base.html' %}

{% block title %}
    Гражданства
{% endblock %}

{% block breadcrumb %}
    <div class="pagetitle">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
                <h1>Гражданства</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Гражданства</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto">
                <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create_modal">
                    <i class="bi bi-plus"></i>
                    Добавить гражданство
                </a>
            </div>
        </div>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}
    <!-- Create Citizenship Modal -->
    <div class="modal fade" id="create_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="{% url 'app:citizenship_create' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Добавить гражданство</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Название</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success">Создать</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Update Citizenship Modal -->
    <div class="modal fade" id="update_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="" id="update_form" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Изменить гражданство</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">Название</label>
                            <div class="col-sm-10">
                                <input id="update_input" type="text" name="name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success">Создать</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Delete Citizenship Modal -->
    <div class="modal fade" id="delete_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удалить гражданство: <span id="delete_span"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <a href="#" id="delete_link" class="btn btn-danger">Удалить</a>
                </div>

            </div>
        </div>
    </div>


    <div class="col">
        {% if citizenships %}
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Кол-во граждан</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for citizenship in citizenships %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ citizenship.name }}</td>
                        <td>{{ citizenship.executors.count }}</td>
                        <td>
                            <a href="#update" data-bs-toggle="modal" data-bs-target="#update_modal"
                               data-update-url="{% url 'app:citizenship_update' citizenship.pk %}"
                               data-name="{{ citizenship.name }}"
                               class="me-3"
                               onclick="objectUpdate(this)">
                                <i class="bi bi-gear text-primary"></i>
                            </a>
                            <a href="#delete" data-bs-toggle="modal" data-bs-target="#delete_modal"
                               data-delete-url="{% url 'app:citizenship_delete' citizenship.pk %}"
                               data-name="{{ citizenship.name }}"
                               onclick="objectDelete(this)">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <span class="mt-3 text-black-50 text-center d-block">
                Данные не найдены
            </span>
        {% endif %}
    </div>


{% endblock %}