{% extends 'base.html' %}

{% block title %}
    Список кураторов
{% endblock %}


{% block breadcrumb %}
    <div class="pagetitle">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
                <h1>Кураторы</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Кураторы</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto">
                <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#user_create_modal">
                    <i class="bi bi-plus"></i>
                    Добавить куратора
                </a>
            </div>
        </div>
    </div><!-- End Page Title -->
{% endblock %}


{% block content %}
    <!-- Create Curator Modal -->
    {% include 'include/staff/user_create_modal.html' with selected_role='curator' %}
    <!-- Update Curator Modal -->
    {% include 'include/staff/user_update_modal.html' %}
    <!-- Delete Curator Modal -->
    {% include 'include/staff/user_delete_modal.html' %}

    <div class="col">
        <div class="text-black mb-2">
            Дата стажировки: <span class="text-black-50">{{ start_date }} ~ {{ final_date }}</span>
        </div>
        {% include 'include/staff/users_table.html' with users=curators %}
    </div>
{% endblock %}


{% block script %}
    <script>
        function toggleInternshipFilter() {
            let internship_dates_form = document.getElementById('internship_dates_form');
            internship_dates_form.classList.toggle('d-none');
        }
    </script>
{% endblock %}