{% extends 'base.html' %}

{% block title %}
    Список кураторов
{% endblock %}


{% block breadcrumb %}
    <div class="pagetitle">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6">
                <h1>Кураторы</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Кураторы</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto">
                <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#user_create_modal">
                    <i class="bi bi-plus"></i>
                    Добавить куратора
                </a>
            </div>
        </div>
    </div><!-- End Page Title -->
{% endblock %}


{% block content %}
    <!-- Create Curator Modal -->
    {% include 'include/staff/user_create_modal.html' with selected_role='curator' %}
    <!-- Update Curator Modal -->
    {% include 'include/staff/user_update_modal.html' %}
    <!-- Delete Curator Modal -->
    {% include 'include/staff/user_delete_modal.html' %}
    <!-- Curator Internship Executors Modal -->
    {% include 'include/staff/curator_internship_executors.html' %}

    <div class="col">
        <div class="text-black mb-2">
            Дата стажировки: <span class="text-black-50">{{ start_date }} ~ {{ final_date }}</span>
        </div>
        {% include 'include/staff/users_table.html' with users=curators %}
    </div>
{% endblock %}


{% block script %}
    <script>
        function toggleInternshipFilter() {
            let internship_dates_form = document.getElementById('internship_dates_form');
            internship_dates_form.classList.toggle('d-none');
        }
    </script>

    <script>
        async function getInternshipExecutors(elem) {
            let preloader = `<div class="spinner-border text-primary file_preloader_status" role="status" style="text-align: center;
    display: block;
    height: 80px !important;
    width: 80px !important;
    margin: 30px auto;">
            <span class="visually-hidden">Loading...</span>
        </div>`;
            let internship_executors_modal = document.getElementById('internship_executors');
            let modal_body = internship_executors_modal.querySelector('.modal-body');
            modal_body.innerHTML = preloader;

            let modal_curator_name = internship_executors_modal.querySelector('#modal_curator_name');
            modal_curator_name.innerHTML = `${elem.dataset.curatorFullname}`

            let modal_period = internship_executors_modal.querySelector('#modal_period');
            modal_period.innerHTML = '{{ start_date }} ~ {{ final_date }}';

            let url = elem.dataset.url;

            let response = await fetch(url);
            if (response.ok) {
                let json = await response.json();
                let executors = json.executors;

                let executor_block;
                let executor_detail_url = '{% url 'app:executor_detail' 'example_id' %}';
                if (executors.length > 0) {
                    executor_block = ''
                    executors.forEach((executor, index) => {
                        index += 1;
                        let executor_element = `<a href="${executor_detail_url.replaceAll('example_id', executor.executor_id)}" target="_blank" class="link d-block m-2">
<span class="text-black-50">${index}.</span>
${executor['executor_id'] ?? ''} | ${executor['last_name'] ?? ''} ${executor['first_name'] ?? ''} ${executor['patronymic'] ?? ''} <br>
<span class="text-black-50">${executor.internship_date.replace('T', ' ').replace('Z', ' ')}</span>
</a>`;
                        executor_block += executor_element;
                    })
                } else {
                    executor_block = '<span class="text-center d-block m-auto">Не найдено</span>';
                }

                executor_block = `<div class="d-flex flex-column justify-content-center">${executor_block}</div>`
                modal_body.innerHTML = executor_block;
            }
        }
    </script>
{% endblock %}