<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <hr>
        <li class="nav-heading">Основное</li>
        <li class="nav-item">
            <a class="nav-link {% if request.path != '/statistic' %}collapsed{% endif %}"
               href="{% url 'app:statistic' %}">
                <i class="bi bi-bar-chart"></i>
                <span>Статистика</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link {% if '/executor' not in request.path or '/free' in request.path %}collapsed{% endif %}"
               href="{% url 'app:executor_list_my' %}">
                <i class="bi bi-people"></i>
                <span>Мои исполнители ({{ request.user.executors.count }})</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if '/executor/free' not in request.path %}collapsed{% endif %}"
               href="{% url 'app:executor_list_free' %}">
                <i class="bi bi-people"></i>
                <span>Свободные исполнители</span>
            </a>
        </li>
    </ul>
</aside>