<div class="modal fade" id="internship_executors" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title text-black text-end">
                    <span id="modal_curator_name" class="text-black-50"></span><br>
                    <span id="modal_period" class="text-black-50"></span>
                </span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 200px; overflow: auto">
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>