{% extends 'base.html' %}
{% load executor_tags role %}

{% block title %}
    Выплата куратору {{ curator.get_full_name }}
{% endblock %}

{% block breadcrumb %}
    <!-- Page Title -->
    <div class="pagetitle">
        <div class="row justify-content-between align-items-center">
            <div class="col-12">
                <h1>{{ curator.get_full_name }} | <span class="text-black-50">Выплаты</span></h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
                        {% if not request.user|check_role:'curator' %}
                            <li class="breadcrumb-item"><a href="{% url 'app:curator_list' %}">Кураторы</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'app:curator_detail' curator.username %}">
                                    {{ curator.get_full_name }}
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'app:curator_preview_payments' curator.username %}">
                                    Выплаты
                                </a>
                            </li>
                        {% else %}
                            <li class="breadcrumb-item">
                                <a href="{% url 'app:curator_payments' %}">
                                    Выплаты
                                </a>
                            </li>
                        {% endif %}

                        <li class="breadcrumb-item active">{{ period }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}
    {% include 'include/executor/detail_modal.html' %}

    <div class="col-12">
        <div class="row">
            {% if is_curator_preview %}
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <input type="number" class="form-control" placeholder="... ставка за стажировку"
                                   value="{{ internship_payment }}" oninput="changeInternshipPayments(this)">
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" placeholder="... базовая ставка"
                                   value="{{ initial_payment }}" oninput="changeInitialPayments(this)">
                        </div>
                    </div>
                </div>
            {% endif %}
            <table class="table text-center">
                <thead>
                <tr>
                    <th>№</th>
                    <th>ФИО</th>
                    <th class="text-start">Первый день</th>
                    <th>За этот период</th>
                    <th>Выплата</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <th class="text-center p-3" colspan="5">
                        Стажировка
                    </th>
                </tr>
                {% for executor in internship_executors %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="text-start">
                            <input class="m-0 p-0 align-middle me-4"
                                   style="width: 20px !important; min-height: 20px !important;display: inline"
                                   type="checkbox" checked>
                            <a href="#" class="col"
                               data-bs-toggle="modal" data-bs-target="#detail_modal"
                               data-detail-url="{{ executor.get_absolute_url }}"
                               data-detail-api-url="{{ executor.get_api_url }}"
                               data-executor-id="{{ executor.executor_id }}"
                               data-name="{{ executor.get_full_name }}"
                               onclick="objectDetail(this)">{{ executor.get_full_name }}</a>
                        </td>
                        <td class="text-start">
                            {{ executor|get_first_day_hour_for_internship }}
                        </td>
                        <td>
                            {{ executor|get_hours_for_period:period.id }}
                        </td>
                        <td class="internship_payment">{{ internship_payment }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th class="text-center p-3" colspan="5">
                        Базовые часы
                    </th>
                </tr>
                {% for executor in initial_executors %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="text-start">
                            <input class="m-0 p-0 align-middle me-4"
                                   style="width: 20px !important; min-height: 20px !important;display: inline"
                                   type="checkbox" checked>
                            <a href="#" class="col"
                               data-bs-toggle="modal" data-bs-target="#detail_modal"
                               data-detail-url="{{ executor.get_absolute_url }}"
                               data-detail-api-url="{{ executor.get_api_url }}"
                               data-executor-id="{{ executor.executor_id }}"
                               data-name="{{ executor.get_full_name }}"
                               onclick="objectDetail(this)">{{ executor.get_full_name }}</a>
                        </td>
                        <td class="text-start">
                            {{ executor|get_first_day_hour_for_initial }}
                        </td>
                        <td>
                            {{ executor|get_hours_for_period:period.id }}
                        </td>
                        <td class="initial_payment">{{ initial_payment }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <p>Выплата за стажировку: <br> {{ internship_executors.count }} * <span
                    class="internship_payment">{{ internship_payment }}</span> = {{ internship_payment_sum }}</p>
            <p>Выплата за базовые часы: <br> {{ initial_executors.count }} * <span
                    class="initial_payment">{{ initial_payment }}</span> = {{ initial_payment_sum }}</p>
            <p>Общая сумма: <br> {{ internship_payment_sum|add:initial_payment_sum }} рублей</p>

            {% if is_curator_preview %}
                <form action="" method="post">
                    <div class="row justify-content-lg-end justify-content-start">
                        <div class="col-lg-4 col-8">
                            <input type="number" class="form-control text-center" placeholder="... на оплату"
                                   value="{{ internship_payment_sum|add:initial_payment_sum }}">
                        </div>
                        <div class="col-lg-2 col-4">
                            <button type="submit" class="btn btn-success w-100">Оплачено</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        function changeInternshipPayments(elem) {
            let internship_payments = document.querySelectorAll('.internship_payment');
            internship_payments.forEach((payment) => {
                if (elem.value !== '') {
                    payment.innerText = elem.value;
                } else {
                    payment.innerText = 0;
                }
            })
        }

        function changeInitialPayments(elem) {
            let initial_payments = document.querySelectorAll('.initial_payment');
            initial_payments.forEach((payment) => {
                if (elem.value !== '') {
                    payment.innerText = elem.value;
                } else {
                    payment.innerText = 0;
                }
            })
        }
    </script>
{% endblock %}