{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>403 ошибка | Проект "Курьер"</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'app/img/favicon.png' %}" rel="icon">
    <link href="{% static 'app/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.4.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<main>
    <div class="container">

        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1>403</h1>
            <h2>Ошибка CSRF-токена</h2>
            <a class="btn" href="{% url 'app:home' %}">На главную</a>
            <img src="{% static 'app/img/super_large_icon_not_background.png' %}" style="height: 300px"
                 class="img-fluid py-5" alt="Page Not Found">
            <div class="credits">
                <a href="#"></a>
            </div>
        </section>

    </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'app/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'app/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'app/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'app/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'app/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'app/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'app/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'app/js/main.js' %}"></script>


<svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1"
     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"
     style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
    <defs id="SvgjsDefs1002"></defs>
    <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
    <path id="SvgjsPath1004" d="M0 0 "></path>
</svg>
</body>
</html>