<div class="col-0 d-none" id="filter_col">
    <div class="card">
        <div class="card-body p-3">
            <form action="" method="get">

                <div class="mb-3">
                                    <span class="row justify-content-between align-items-center {% if sort_type %} text-custom {% endif %}"
                                          data-toggle="collapse"
                                          data-collapse="sort_type_collapse"
                                          role="button" aria-expanded="false" aria-controls="sort_type_collapse">
                                        <span class="col-auto">Сортировка</span>
                                        {% if sort_type %}
                                            <i class="col-auto bx bxs-down-arrow"></i>
                                        {% else %}
                                            <i class="col-auto bx bxs-left-arrow"></i>
                                        {% endif %}
                                    </span>
                    <hr>
                    <div class="collapse {% if sort_type %} show {% endif %}"
                         id="sort_type_collapse">
                        {% include 'include/executor/sorted_select.html' %}
                    </div>
                </div>
                <div class="mb-3">
                                    <span class="row justify-content-between align-items-center {% if phone_number_checkboxes %} text-custom {% endif %}"
                                          data-toggle="collapse"
                                          data-collapse="phone_number_collapse"
                                          role="button" aria-expanded="false" aria-controls="phone_number_collapse">
                                        <span class="col-auto">Номер телефона</span>
                                        {% if phone_number_checkboxes %}
                                            <i class="col-auto bx bxs-down-arrow"></i>
                                        {% else %}
                                            <i class="col-auto bx bxs-left-arrow"></i>
                                        {% endif %}
                                    </span>
                    <hr>
                    <div class="collapse {% if phone_number_checkboxes %} show {% endif %}"
                         id="phone_number_collapse">
                        <input type="radio" id="phone_number_on" name="phone_number" value="on"
                                {% if 'on' in phone_number_checkboxes %} checked {% endif %}
                               class="d-none">
                        <label class="check_label" for="phone_number_on">
                            Есть
                        </label>

                        <input type="radio" id="phone_number_off" name="phone_number" value="off"
                                {% if 'off' in phone_number_checkboxes %} checked {% endif %}
                               class="d-none">
                        <label class="check_label" for="phone_number_off">
                            Нет
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                                    <span class="row justify-content-between align-items-center {% if whatsapp_checkboxes %} text-custom {% endif %}"
                                          data-toggle="collapse"
                                          data-collapse="whatsapp_collapse"
                                          role="button" aria-expanded="false" aria-controls="whatsapp_collapse">
                                        <span class="col-auto">Whatsapp</span>
                                        {% if whatsapp_checkboxes %}
                                            <i class="col-auto bx bxs-down-arrow"></i>
                                        {% else %}
                                            <i class="col-auto bx bxs-left-arrow"></i>
                                        {% endif %}
                                    </span>
                    <hr>
                    <div class="collapse {% if whatsapp_checkboxes %} show {% endif %}"
                         id="whatsapp_collapse">
                        <input type="radio" id="whatsapp_on" name="whatsapp" value="on"
                                {% if 'on' in whatsapp_checkboxes %} checked {% endif %}
                               class="d-none">
                        <label class="check_label" for="whatsapp_on">
                            Есть
                        </label>
                        <input type="radio" id="whatsapp_off" name="whatsapp" value="off"
                                {% if 'off' in whatsapp_checkboxes %} checked {% endif %}
                               class="d-none">
                        <label class="check_label" for="whatsapp_off">
                            Нет
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                                    <span class="row justify-content-between align-items-center {% if citizenship_checkboxes %} text-custom {% endif %}"
                                          data-toggle="collapse"
                                          data-collapse="citizenship_collapse"
                                          role="button" aria-expanded="false" aria-controls="citizenship_collapse">
                                        <span class="col-auto">Гражданства</span>
                                        {% if citizenship_checkboxes %}
                                            <i class="col-auto bx bxs-down-arrow"></i>
                                        {% else %}
                                            <i class="col-auto bx bxs-left-arrow"></i>
                                        {% endif %}
                                    </span>
                    <hr>
                    <div class="collapse {% if citizenship_checkboxes %} show {% endif %}"
                         id="citizenship_collapse">
                        {% for citizenship in citizenships %}
                            <input type="checkbox" name="citizenship"
                                   id="citizenship_{{ citizenship.pk }}"
                                   class="d-none"
                                    {% if citizenship.id|stringformat:'i' in citizenship_checkboxes %}
                                   checked {% endif %}
                                   value="{{ citizenship.pk }}">
                            <label class="check_label" for="citizenship_{{ citizenship.pk }}">
                                {{ citizenship.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                                    <span class="row justify-content-between align-items-center {% if city_checkboxes %} text-custom {% endif %}"
                                          data-toggle="collapse"
                                          data-collapse="city_collapse"
                                          role="button" aria-expanded="false" aria-controls="city_collapse">
                                        <span class="col-auto">Город</span>
                                        {% if city_checkboxes %}
                                            <i class="col-auto bx bxs-down-arrow"></i>
                                        {% else %}
                                            <i class="col-auto bx bxs-left-arrow"></i>
                                        {% endif %}
                                    </span>
                    <hr>
                    <div class="collapse {% if city_checkboxes %} show {% endif %}"
                         id="city_collapse">
                        {% for city in cities %}
                            <input type="checkbox" name="city"
                                   id="city_{{ city.pk }}"
                                   class="d-none"
                                    {% if city.id|stringformat:'i' in city_checkboxes %}
                                   checked {% endif %}
                                   value="{{ city.pk }}">
                            <label class="check_label" for="city_{{ city.pk }}">
                                {{ city.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                                    <span class="row justify-content-between align-items-center {% if transport_checkboxes %} text-custom {% endif %}"
                                          data-toggle="collapse"
                                          data-collapse="transport_collapse"
                                          role="button" aria-expanded="false" aria-controls="transport_collapse">
                                        <span class="col-auto">Транспорт (Роль)</span>
                                        {% if transport_checkboxes %}
                                            <i class="col-auto bx bxs-down-arrow"></i>
                                        {% else %}
                                            <i class="col-auto bx bxs-left-arrow"></i>
                                        {% endif %}
                                    </span>
                    <hr>
                    <div class="collapse {% if transport_checkboxes %} show {% endif %}"
                         id="transport_collapse">
                        {% for transport in transports %}
                            <input type="checkbox" name="transport"
                                   id="transport_{{ transport.pk }}"
                                   class="d-none"
                                    {% if transport.id|stringformat:'i' in transport_checkboxes %}
                                   checked {% endif %}
                                   value="{{ transport.pk }}">
                            <label class="check_label" for="transport_{{ transport.pk }}">
                                {{ transport.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                                    <span class="row justify-content-between align-items-center {% if bicycle_checkboxes %} text-custom {% endif %}"
                                          data-toggle="collapse"
                                          data-collapse="bicycle_collapse"
                                          role="button" aria-expanded="false" aria-controls="bicycle_collapse">
                                        <span class="col-auto">Велосипед</span>
                                        {% if bicycle_checkboxes %}
                                            <i class="col-auto bx bxs-down-arrow"></i>
                                        {% else %}
                                            <i class="col-auto bx bxs-left-arrow"></i>
                                        {% endif %}
                                    </span>
                    <hr>
                    <div class="collapse {% if bicycle_checkboxes %} show {% endif %}"
                         id="bicycle_collapse">
                        {% for bicycle in bicycles %}
                            <input type="checkbox" name="bicycle"
                                   id="bicycle_{{ bicycle.pk }}"
                                   class="d-none"
                                    {% if bicycle.id|stringformat:'i' in bicycle_checkboxes %}
                                   checked {% endif %}
                                   value="{{ bicycle.pk }}">
                            <label class="check_label" for="bicycle_{{ bicycle.pk }}">
                                {{ bicycle.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="mb-3">
                                    <span class="row justify-content-between align-items-center {% if min_hours or max_hours %} text-custom {% endif %}"
                                          data-toggle="collapse"
                                          data-collapse="hours_collapse"
                                          role="button" aria-expanded="false" aria-controls="hours_collapse">
                                        <span class="col-auto">Кол-во часов</span>
                                        {% if min_hours or max_hours %}
                                            <i class="col-auto bx bxs-down-arrow"></i>
                                        {% else %}
                                            <i class="col-auto bx bxs-left-arrow"></i>
                                        {% endif %}
                                    </span>
                    <hr>
                    <div class="collapse {% if min_hours or max_hours %} show {% endif %}"
                         id="hours_collapse">
                        <div class="row">
                            <div class="col">
                                <input type="number" name="min_hours" class="form-control" placeholder="от ..."
                                        {% if min_hours %} value="{{ min_hours }}" {% endif %}>
                            </div>
                            <div class="col">
                                <input type="number" name="max_hours" class="form-control" placeholder="до ..."
                                        {% if max_hours %} value="{{ max_hours }}" {% endif %}>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <a href="{{ request.path }}" type="submit" class="btn btn-secondary">
                            Сброс
                        </a>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-custom">
                            Фильтр
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>