{% extends 'base.html' %}

{% block title %}
    {{ archive_file.filename }}
{% endblock %}

{% block breadcrumb %}
    <div class="pagetitle">
        <div class="row justify-content-between align-items-center">
            <div class="col-6">
                <h1>{{ archive_file.filename }}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'app:executor_list' %}">Исполнители</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'app:executor_hours_file_list' %}">Файлы с
                            часами</a></li>
                        <li class="breadcrumb-item active">
                            {{ archive_file.filename }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}
    <div class="col">
        {% if executor_hours %}
            <table class="table table-bordered text-center">
                <thead class="align-middle">
                <tr>
                    <th rowspan="2">#</th>
                    <th rowspan="2">ЦфЗ</th>
                    <th rowspan="2">Исполнитель</th>
                    <th rowspan="2">Роль</th>
                    <th rowspan="2">ID</th>
                    {% for day in days %}
                        <th>{{ day.day__date|date:"d.m.y" }}</th>
                    {% endfor %}
                    <th rowspan="2">Итого</th>
                </tr>
                <tr>
                    {% for day in days %}
                        <th>{{ day.day.get_hours_sum }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for executor_hour in executor_hours %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ executor_hour.ofc }}</td>
                        <td>{{ executor_hour.executor }}</td>
                        <td>{{ executor_hour.transport|default:'-' }}</td>
                        <td>
                            <a href="{{ executor_hour.executor.get_absolute_url }}">{{ executor_hour.executor.executor_id }}</a>
                        </td>
                        {% for day_hour in executor_hour.day_hours.all %}
                            <td>{{ day_hour.hour|default:'-' }}</td>
                        {% endfor %}
                        <td>{{ executor_hour.get_hours_sum|default:'0.0' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}