{% extends 'base.html' %}

{% block title %}
    {{ executor.executor_id }} | {{ executor.get_full_name }}
{% endblock %}

{% block breadcrumb %}
    <div class="pagetitle">
        <div class="row justify-content-between align-items-center">
            <div class="col-6">
                <h1>{{ executor.get_full_name }}</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'app:executor_list' %}">Исполнители</a></li>
                        <li class="breadcrumb-item active">{{ executor.executor_id }}
                            | {{ executor.get_full_name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}
    {#    <div class="col-xl-4">#}
    {##}
    {#        <div class="card">#}
    {#            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">#}
    {##}
    {#                <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">#}
    {#                <h2>Kevin Anderson</h2>#}
    {#                <h3>Web Designer</h3>#}
    {#                <div class="social-links mt-2">#}
    {#                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>#}
    {#                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>#}
    {#                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>#}
    {#                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#    </div>#}
    <div class="col-xl-12">

        <div class="card">
            <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview"
                                aria-selected="false" role="tab" tabindex="-1">Информация
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit"
                                aria-selected="true" role="tab">Редактировать
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings"
                                aria-selected="false" role="tab" tabindex="-1">Зарплата
                        </button>
                    </li>


                </ul>
                <div class="tab-content pt-2">

                    <div class="tab-pane fade profile-overview  active show" id="profile-overview" role="tabpanel">
                        <h5 class="card-title">Общая информация</h5>
                        {#                        <p class="small fst-italic"></p>#}

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label ">ФИО</div>
                            <div class="col-lg-9 col-md-8">{{ executor.get_full_name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label ">ID</div>
                            <div class="col-lg-9 col-md-8">{{ executor.executor_id }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Пол</div>
                            <div class="col-lg-9 col-md-8">{{ executor.get_gender_display }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Гражданство</div>
                            <div class="col-lg-9 col-md-8">{{ executor.citizenship|default:'-' }}
                                (Тип: {{ executor.citizenship_type|default:'-' }})
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Номер телефона</div>
                            <div class="col-lg-9 col-md-8">{{ executor.phone_number }}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Email</div>
                            <div class="col-lg-9 col-md-8">{{ executor.email|default:'' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Дата рождения</div>
                            <div class="col-lg-9 col-md-8">{{ executor.birth_date }}</div>
                        </div>

                        <hr>
                        <h5 class="card-title">Документы</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">ИНН</div>
                            <div class="col-lg-9 col-md-8">{{ executor.INN|default:'-' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Серия и номер паспорта</div>
                            <div class="col-lg-9 col-md-8">{{ executor.passport_series|default:'-' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Дата выдачи паспорта</div>
                            <div class="col-lg-9 col-md-8">{{ executor.passport_date|default:'-' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Место выдачи паспорта</div>
                            <div class="col-lg-9 col-md-8">{{ executor.passport_place|default:'-' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Образование</div>
                            <div class="col-lg-9 col-md-8">{{ executor.education|default:'' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Дата мед.комиссии</div>
                            <div class="col-lg-9 col-md-8">{{ executor.med_exam_date|default:'-' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Физ.лицо</div>
                            <div class="col-lg-9 col-md-8">{{ executor.individual|default:'-' }}</div>
                        </div>

                        <hr>
                        <h5 class="card-title">Исполнитель</h5>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">ЦФЗ</div>
                            <div class="col-lg-9 col-md-8">{{ executor.OFC|default:'-' }}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Роль</div>
                            <div class="col-lg-9 col-md-8">{{ executor.get_role_display }}</div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Основной договор</div>
                            <div class="col-lg-9 col-md-8">{{ executor.main_contract|default:'-' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Куратор(рекрутер)</div>
                            <div class="col-lg-9 col-md-8">{{ executor.curator|default:'-' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">Примечание</div>
                            <div class="col-lg-9 col-md-8">{{ executor.note|default:'-' }}</div>
                        </div>
                    </div>

                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                        <!-- Profile Edit Form -->
                        <form>
                            <div class="row mb-3">
                                <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Фамилия</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="last_name" type="text" class="form-control" id="last_name"
                                           value="{{ executor.last_name|default:'-' }}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="first_name" class="col-md-4 col-lg-3 col-form-label">Имя</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="first_name" type="text" class="form-control" id="first_name"
                                           value="{{ executor.first_name|default:'-' }}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="patronymic" class="col-md-4 col-lg-3 col-form-label">Отчество</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="patronymic" type="text" class="form-control" id="patronymic"
                                           value="{{ executor.patronymic|default:'-' }}">
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </div>
                        </form><!-- End Profile Edit Form -->

                    </div>

                    <div class="tab-pane fade pt-3" id="profile-settings" role="tabpanel">
                        <div class="mb-2">
                            <a href="" class="btn btn-outline-success">
                                <i class="bi bi-upload"></i>
                                Выгрузить в excel
                            </a>
                            <a href="" class="btn btn-outline-success">
                                <i class="bx bx-select-multiple"></i>
                                Скопировать
                            </a>
                            <a href="{% url 'app:executor_hours_detail' executor.executor_id %}"
                               class="btn btn-outline-success">
                                <i class="bx bx-link"></i>
                                Перейти
                            </a>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>ЦФЗ</th>
                                <th>Сотрудник</th>
                                <th>Период</th>
                                <th>Табельный номер</th>
                                {% for week_day in week_days %}
                                    <th>{{ week_day }}</th>
                                {% endfor %}
                                <th>Итого</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for executor_hour in executor_hours %}
                                <tr>
                                    <td>{{ executor_hour.ofc }}</td>
                                    <td>{{ executor_hour.executor.get_full_name }}</td>
                                    <td>{{ executor_hour.period }}</td>
                                    <td>{{ executor_hour.executor.executor_id }}</td>
                                    {% for day_hour in executor_hour.day_hours.all %}
                                        <td>{{ day_hour.hour }}</td>
                                    {% endfor %}
                                    <td>{{ executor_hour.get_hours_sum }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div><!-- End Bordered Tabs -->

            </div>
        </div>

    </div>
{% endblock %}