{% extends 'base.html' %}
{% load role %}
{% load executor_tags %}


{% block title %}
    Список исполнителей
{% endblock %}

{% block breadcrumb %}
    <div class="pagetitle">
        <div class="row justify-content-between align-items-center">
            <div class="col-12">
                <h1>Исполнители</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Исполнители</li>
                    </ol>
                </nav>
            </div>
            {% if request.user|check_role:'admin' %}
                <div class="col-auto">
                    <a href="{% url 'app:executor_hours_file_list' %}" class="btn btn-primary mb-2">
                        <i class="bi bi-clock"></i>
                        {#                        Файлы с часами#}
                    </a>
                    <a href="{% url 'app:executor_file_list' %}" class="btn btn-primary mb-2">
                        <i class="bi bi-archive-fill"></i>
                        {#                        Файлы с исполнителями#}
                    </a>
                    <a href="{% url 'app:executor_list_debtor' %}" class="btn btn-danger mb-2">
                        <i class="bx bx-sad"></i>
                        {#                        Файлы с часами#}
                    </a>
                    <a href="{% url 'app:executor_create' %}" class="btn btn-success mb-2">
                        <i class="bi bi-plus"></i>
                        {#                        Добавить исполнителя#}
                    </a>
                </div>
            {% endif %}
        </div>
    </div><!-- End Page Title -->
{% endblock %}

{% block content %}
    <div class="modal fade" id="delete_modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удалить исполнителя: <span id="delete_span"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <a href="#" id="delete_link" class="btn btn-danger">Удалить</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="row justify-content-between mb-3 mt-3">
            <div class="col-auto">
                <span class="text-black-50">Всего исполнителей: {{ count }}</span>
            </div>
            <div class="col-auto">
                <i class="bx bxs-filter-alt" style="font-size: 24px; cursor: pointer"
                   onclick="toggleFilter(this)"></i>
            </div>
        </div>
        <div class="row justify-content-between executor_table_content">
            <div class="col-12 col-lg-9" id="executor_list_col">
                {% if executors %}
                    {% include 'include/pagination.html' with page=executors %}

                    <div class="mb-3">
            <span class="mb-1 btn border" style="background-color: #d3ffb88f">
                Активные
            </span>
                        <span class="mb-1 btn border">
                Неактивные
            </span>
                        <span class="mb-1 btn border" style="background-color: #ffe9e98f">
                Должники
            </span>
                    </div>
                    <table class="table table-bordered table-sm text-center">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Название</th>
                            <th scope="col" class="additional">Транспорт</th>
                            <th scope="col" class="additional">Дата рожд.</th>
                            <th scope="col" class="additional">ЦФЗ</th>
                            <th scope="col" class="additional">Номер тел.</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for executor in executors %}
                            <tr style="{% if executor.id in active_executor_ids %} background-color: #d3ffb88f; {% else %}
                                {# background-color: #ffe9e98f; #} {% endif %}
                                    {% if executor.id in executor_debtor_ids %} background-color: #ffe9e98f; {% endif %}">
                                <th class="text-start">
                                    <a href="{{ executor.get_absolute_url }}">
                                        {{ executor.executor_id }}
                                    </a>
                                </th>
                                <td class="text-start">{{ executor.get_full_name }}</td>
                                <td class="text-center additional">{{ executor.transport|default:'-' }}</td>
                                <td class="text-start additional">{{ executor.birth_date|default:'-' }}</td>
                                <td class="text-start additional">{{ executor.OFC|default:'-' }} {{ executor.OFC.id }}</td>
                                <td class="additional">{{ executor.phone_number|default:'-' }}</td>
                                <td>
                                    <div class="additional row justify-content-between">
                                        <a href="{{ executor.get_absolute_url }}?page=hours"
                                           class="col" title="Просмотреть часы">
                                            <i class="bx bx-time text-primary"></i>
                                        </a>
                                        {% if executor.get_whatsapp %}
                                            <a href="{{ executor|get_whatsapp_url_for_executor:request.get_host }}"
                                               class="col" title="Просмотреть часы" target="_blank">
                                                {#                                                <i class="bx bxl-whatsapp text-success"></i>#}
                                                {{ executor.get_whatsapp }}
                                            </a>
                                        {% else %}
                                            <a href="#"
                                               class="col" title="Просмотреть часы">
                                                <i class="bx bxl-whatsapp text-black-50"></i>
                                            </a>
                                        {% endif %}
                                        {% if request.user|check_role:'admin' %}
                                            <a href="#delete"
                                               class="col"
                                               data-bs-toggle="modal" data-bs-target="#delete_modal"
                                               data-delete-url="{% url 'app:executor_delete' executor.pk %}"
                                               data-name="{{ executor.get_full_name }}"
                                               onclick="objectDelete(this)">
                                                <i class="bi bi-trash text-danger"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="row mobile_additional">
                                        <div class="col-12 mb-1 mt-1">
                                            <a href="{{ executor.get_absolute_url }}?page=hours"
                                               class="btn btn-warning w-100">Часы</a>
                                        </div>
                                        <div class="col-12 mb-1 mt-1">
                                            {% if executor.get_whatsapp %}
                                                <a href="{{ executor|get_whatsapp_url_for_executor:request.get_host }}"
                                                   class="btn btn-success w-100">{{ executor.get_whatsapp }}</a>
                                            {% else %}
                                                <a href="#"
                                                   class="btn btn-secondary w-100">Whatsapp</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% include 'include/pagination.html' with page=executors %}
                {% else %}
                    <span class="mt-3 text-black-50 text-center d-block">
                        Данные не найдены
                    </span>
                {% endif %}
            </div>

            {% include 'include/executor/filter_form.html' %}
        </div>
    </div>
{% endblock %}