{% extends 'base.html' %}
{% load executor_tags %}
{% load general %}

{% block title %}
    Статистика
{% endblock %}

{% block breadcrumb %}
    <div class="pagetitle">
        <div class="row justify-content-between align-items-center">
            <div class="col-12">
                <h1>Статистика</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Статистика</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col">
        <div class="row justify-content-between mb-3 mt-3">
            <div class="col-auto">
                <span class="text-black-50">Всего активных: {{ count }}</span>
            </div>
            <div class="col-auto">
                <i class="bx bxs-filter-alt" style="font-size: 24px; cursor: pointer"
                   onclick="toggleFilter(this)"></i>
            </div>
        </div>
        <div class="row justify-content-between executor_table_content">
            <div class="col-12 col-lg-9" id="executor_list_col">
                {% if executors %}
                    {% if paginate %}
                        {% include 'include/pagination.html' with page=executors %}
                    {% endif %}
                    <div class="w-100 overflow-auto">
                        <table class="table table-responsive-sm table-bordered text-center">
                            <thead>
                            <tr class="align-middle">
                                <th rowspan="3">ID</th>
                                <th rowspan="3" class="additional">Гражданство</th>
                                <th rowspan="3">ФИО</th>
                                <th rowspan="3">Ссылка</th>
                                <th rowspan="3" class="additional">ЦФЗ</th>
                                <th rowspan="3" class="additional">Номер</th>
                                <th rowspan="3" class="additional">Рекрутер</th>
                                {% for period in periods %}
                                    <th><span class="text-custom"
                                              title="За данный период {{ period.get_executors_count }} исполнителей">{{ period.start_date|date:'d.m' }} - {{ period.final_date|date:'d.m' }}</span>
                                    </th>
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for period in periods %}
                                    <th>{{ executor_ids|get_hours_for_period:period.id }} Ч.</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for executor in executors %}
                                <tr>
                                    <td><a href="{{ executor.get_absolute_url }}">{{ executor.executor_id }}</a></td>
                                    <td class="additional">{{ executor.citizenship|default:'-' }}</td>
                                    <td>{{ executor.get_full_name }}</td>
                                    <td class="text-center">
                                        <div class="additional row justify-content-between">
                                            <a href="{{ executor.get_absolute_url }}?page=hours"
                                               class="col" title="Просмотреть часы">
                                                <i class="bx bx-time text-primary"></i>
                                            </a>
                                            {% if executor.get_whatsapp %}
                                                <a href="{{ executor|get_whatsapp_url_for_executor:request.get_host }}"
                                                   class="col text-success" title="Просмотреть часы" target="_blank">
                                                    {{ executor.get_whatsapp }}
                                                </a>
                                            {% else %}
                                                <a href="#"
                                                   class="col" title="Просмотреть часы">
                                                    <i class="bx bxl-whatsapp text-black-50"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="row mobile_additional">
                                            <div class="col-12 mb-1 mt-1">
                                                <a href="{{ executor.get_absolute_url }}?page=hours"
                                                   class="btn btn-warning w-100">Часы</a>
                                            </div>
                                            <div class="col-12 mb-1 mt-1">
                                                {% if executor.get_whatsapp %}
                                                    <a href="{{ executor|get_whatsapp_url_for_executor:request.get_host }}"
                                                       class="btn btn-success w-100">{{ executor.get_whatsapp }}</a>
                                                {% else %}
                                                    <a href="#"
                                                       class="btn btn-secondary w-100">Whatsapp</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="additional">{{ executor.OFC|default:'-' }}</td>
                                    <td class="additional">{{ executor.phone_number|default:'-' }}</td>
                                    <td class="additional">{{ executor.curator.get_full_name }}</td>
                                    {% for period in periods %}
                                        <td>{{ executor|get_hours_for_period:period.id }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if paginate %}
                        {% include 'include/pagination.html' with page=executors %}
                    {% else %}
                        <hr>
                        <span class="text-center text-black-50 d-block m-auto">Конец таблицы</span>
                    {% endif %}
                {% else %}
                    <span class="mt-3 text-black-50 text-center d-block">
                        Данные не найдены
                    </span>
                {% endif %}
            </div>
            {% include 'include/executor/filter_form.html' %}
        </div>
    </div>

{% endblock %}