<div class="file_status_block" data-status="{{ status }}" data-file-id="{{ file_id|default:'null' }}">
    {% if status == 'NOT_STARTED' %}
        <i class="bx bx-data text-black-50" title="Загружен, без парсинга"></i>
    {% elif status == 'WAIT' %}
        <div class="spinner-border text-primary file_preloader_status" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    {% elif status == 'WARNING' %}
        <i class="bx bx-error-alt text-warning" title="Предупреждение (не критично)"></i>
    {% elif status == 'SUCCESS' %}
        <i class="bx bx-check-circle text-success" title="Успешно"></i>
    {% elif status == 'ERROR' %}
        <i class="bx bx-error-circle text-danger" title="Ошибка"></i>
    {% endif %}
</div>