<div class="row justify-content-start" style="font-size: 24px;">
    <div class="col-auto m-1">{% include 'include/archive_file/status.html' with status='NOT_STARTED' %}</div>
    <div class="col-auto m-1">{% include 'include/archive_file/status.html' with status='WAIT' %}</div>
    <div class="col-auto m-1">{% include 'include/archive_file/status.html' with status='WARNING' %}</div>
    <div class="col-auto m-1">{% include 'include/archive_file/status.html' with status='SUCCESS' %}</div>
    <div class="col-auto m-1">{% include 'include/archive_file/status.html' with status='ERROR' %}</div>
</div>