{% load static %}
{% load role %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}{% endblock %} | проект "Курьер"</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'app/img/favicon.png' %}" rel="icon">
    <link href="{% static 'app/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'app/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">

    <!-- My styles (Refactor) -->
    <style>
        @font-face {
            font-family: 'FontName bold';
            src: url({% static 'app/font/oregano/Oregano-Regular.ttf' %});
        }

        .oregano_style {
            font-family: 'Oregano-Regular' !important;
        }

        .active > .page-link, .page-link.active {
            z-index: 3;
            color: var(--bs-pagination-active-color);
            background-color: #f58555;
            border-color: #f58555;
        }

        .active .page-link {
            background-color: #f58555 !important;
            color: #fff !important;
        }

        .page-link {
            color: #f58555;
        }

        .page-link:hover {
            z-index: 2;
            color: #f58555;
            background-color: var(--bs-pagination-hover-bg);
            border-color: var(--bs-pagination-hover-border-color);
        }

        .file_preloader_status {
            height: 20px !important;
            width: 20px !important;
            font-size: 5px !important;
        }

        .check_label {
            padding: 7px;
            background-color: grey;
            color: white;
            cursor: pointer;
            border-radius: 10px;
            transition: all .2s;
            margin: 3px;
            font-size: 11px;
        }

        input:checked + label.check_label {
            background-color: #f58555;
            color: #fff;
        }

        .btn-custom {
            background-color: #f58555;
            color: #fff;
            margin: auto;
            display: block;
            transition: background-color .3s, color .3s;
        }

        .btn-custom:hover {
            background-color: #fff;
            color: #f58555;
            border: 1px solid #f58555;
        }

        .text-custom {
            color: #f58555;
        }

        @media only screen and (max-width: 991px) {
            .executor_table_content {
                flex-direction: column-reverse;
            }
        }

        @media only screen and (max-width: 768px) {
            .additional {
                display: none;
            }
        }

        @media only screen and (min-width: 769px) {
            .mobile_additional {
                display: none;
            }
        }
    </style>
    <!-- =======================================================
    * Template Name: NiceAdmin - v2.4.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'app:home' %}" class="logo d-flex align-items-center">
            <img src="{% static 'app/img/large_icon.png' %}" alt="">
            <span class="d-none d-lg-block"><span style="color: #F5814F"
                                                  class="oregano_style">Courier</span>Project</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="GET" action="#">
            <input type="text" name="query" placeholder="Поиск" title="Enter search keyword"
                   oninput="searchExecutors(this)">
            <button type="button" title="Начать поиск"><i class="bi bi-search"></i></button>
        </form>
        <div id="search_card" class="card d-none" style="position: absolute;
    width: 360px;
    margin-top: 10px;
">
            <div class="card-body  pt-2 pb-0">
                <div id="search_result_list" class="row flex-column justify-content-center align-items-center">
                    {% for number in '4'|linenumbers %}

                    {% endfor %}

                </div>
            </div>
        </div>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->


            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->


            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="{% static 'app/img/default_avatar.png' %}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.first_name.0 }}. {{ request.user.last_name }}</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ request.user.get_full_name }}</h6>
                        <span>{{ request.user.profile.get_role_display }}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-gear"></i>
                            <span>Настройки</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Нужна помощь?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Выход</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <hr>
        <li class="nav-heading">Основное</li>
        <hr>
        {% if request.user|check_role:'admin' %}
            <li class="nav-item">
                <a class="nav-link {% if request.path != '/' %}collapsed{% endif %}" href="{% url 'app:home' %}">
                    <i class="bi bi-grid"></i>
                    <span>Главная</span>
                </a>
            </li><!-- End Dashboard Nav -->
        {% endif %}

        <li class="nav-item">
            <a class="nav-link {% if request.path != '/statistic' %}collapsed{% endif %}"
               href="{% url 'app:statistic' %}">
                <i class="bi bi-bar-chart"></i>
                <span>Статистика</span>
            </a>
        </li><!-- End Dashboard Nav -->
        {% if request.user|check_role:'admin' %}

            <li class="nav-item">
                <a class="nav-link collapsed" href="#">
                    <i class="bi bi-calculator"></i>
                    <span>Калькулятор</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '/staff/curator' in request.path or '/staff/admin' in request.path %}
                {% else %}collapsed{% endif %}"
                   data-bs-target="#forms-service-nav"
                   data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person-badge"></i>
                    <span>Упр. персонал</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-service-nav"
                    class="nav-content {% if '/staff/curator' in request.path or '/staff/admin' in request.path or '/staff/support' in request.path %}
                    {% else %}collapse{% endif %} "
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'app:curator_list' %}"
                           class="{% if '/staff/curator' in request.path %}active{% endif %}">
                            <i class="bi bi-circle"></i><span>Кураторы</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'app:support_list' %}"
                           class="{% if '/staff/support' in request.path %}active{% endif %}">
                            <i class="bi bi-circle"></i><span>Тех. поддержка</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'app:admin_list' %}"
                           class="{% if '/staff/admin' in request.path %}active{% endif %}">
                            <i class="bi bi-circle"></i><span>Админы</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '/executor' not in request.path %}collapsed{% endif %}"
                   href="{% url 'app:executor_list' %}">
                    <i class="bi bi-people"></i>
                    <span>Исполнители</span>
                </a>
            </li>
        {% endif %}
        {% if request.user|check_role:'curator' %}
            <li class="nav-item">
                <a class="nav-link {% if '/executor' not in request.path or '/free' in request.path %}collapsed{% endif %}"
                   href="{% url 'app:executor_list_my' %}">
                    <i class="bi bi-people"></i>
                    <span>Мои исполнители ({{ request.user.executors.count }})</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '/executor/free' not in request.path %}collapsed{% endif %}"
                   href="{% url 'app:executor_list_free' %}">
                    <i class="bi bi-people"></i>
                    <span>Свободные исполнители</span>
                </a>
            </li>
        {% endif %}
        {% if request.user|check_role:'admin' %}
            <li class="nav-item">
                <a class="nav-link {% if '/bicycle' not in request.path %}collapsed{% endif %}"
                   href="{% url 'app:bicycle_list' %}">
                    <i class="bi bi-bicycle"></i>
                    <span>Велосипеды</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '/transport' not in request.path %}collapsed{% endif %}"
                   href="{% url 'app:transport_list' %}">
                    <i class="bx bx-car"></i>
                    <span>Транспорт</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link
                        {% if '/city' in request.path or '/OFC' in request.path %}{% else %}collapsed{% endif %}"
                   data-bs-target="#forms-nav"
                   data-bs-toggle="collapse" href="#">
                    <i class="bi bi-cursor-fill"></i>
                    <span>Места</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content
                    {% if '/city' in request.path or '/OFC' in request.path %}{% else %}collapse{% endif %} "
                    data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'app:city_list' %}" class="{% if '/city' in request.path %}active{% endif %}">
                            <i class="bi bi-circle"></i><span>Города</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'app:ofc_list' %}" class="{% if '/OFC' in request.path %}active{% endif %}">
                            <i class="bi bi-circle"></i><span>ЦФЗ</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}

        {% if request.user|check_role:'admin' %}
            <hr>
            <li class="nav-heading">Прочее</li>
            <hr>
            <li class="nav-item">
                <a class="nav-link {% if '/archive' not in request.path %}collapsed{% endif %}"
                   href="{% url 'app:archive_file_list' %}">
                    <i class="bx bx-archive"></i>
                    <span>Архив</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '/citizenship' != request.path %}collapsed{% endif %}"
                   href="{% url 'app:citizenship_list' %}">
                    <i class="bx bxs-flag-alt"></i>
                    <span>Гражданства</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '/citizenship/type' not in request.path %}collapsed{% endif %}"
                   href="{% url 'app:citizenship_type_list' %}">
                    <i class="bx bx-command"></i>
                    <span>Типы гражданства</span>
                </a>
            </li>
            </ul>
        {% endif %}

</aside><!-- End Sidebar-->

<main id="main" class="main">

    {% block breadcrumb %}

    {% endblock %}

    <section class="section dashboard">
        <div class="row">
            <!-- Django Messages -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert
                        alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}
                        alert-dismissible fade show" role="alert" style="width: fit-content">
                            <i class="bi bi-{% if message.tags == 'error' %}exclamation-octagon{% else %}check-circle{{ message.tags }}{% endif %} me-1"></i>
                            {{ message|striptags|safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{#<footer id="footer" class="footer">#}
{#    <div class="copyright">#}
{#        &copy; Copyright <strong><span>CourierProject</span></strong>. All Rights Reserved#}
{#    </div>#}
{#    <div class="credits">#}
{#        <!-- All the links in the footer should remain intact. -->#}
{#        <!-- You can delete the links only if you purchased the pro version. -->#}
{#        <!-- Licensing information: https://bootstrapmade.com/license/ -->#}
{#        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->#}
{#        Developed by <a href="https://github.com/AnsaganK">Kabdolla Ansagan</a>#}
{#    </div>#}
{#</footer><!-- End Footer -->#}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'app/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'app/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'app/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'app/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'app/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'app/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'app/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'app/js/main.js' %}"></script>

<script>
    async function objectDetail(elem) {
        let preloader = `<div class="spinner-border text-primary file_preloader_status" role="status" style="text-align: center;
    display: block;
    height: 80px !important;
    width: 80px !important;
    margin: 30px auto;">
            <span class="visually-hidden">Loading...</span>
        </div>`;
        let executor_info = document.getElementById('executor_info');
        executor_info.innerHTML = preloader;

        let column_count = document.getElementById('executor_hours_thead').children.length;
        let tbody = document.getElementById("executor_hours_tbody");
        tbody.innerHTML = `<tr><td colspan="${column_count}">${preloader}</td></tr>`;

        let executor_id = elem.dataset.executorId;
        let detail_url = elem.dataset.detailUrl;
        let detail_api_url = elem.dataset.detailApiUrl;
        let response = await fetch(detail_api_url);
        if (response.ok) {
            let json = await response.json();
            let executor_fields = json["executor"];
            set_info(executor_fields)
            let executor_hours = json["executor_hours"]
            set_hours(executor_hours);
        } else {
            console.log(response.status);
        }


        let detail_link = document.getElementById('detail_link');
        detail_link.setAttribute('href', detail_url);
        let executor_id_span = document.getElementById('executor_id_span');
        executor_id_span.innerText = executor_id;
    }

    function set_info(json) {
        let contacts = json["contacts"];
        console.log(contacts);
        let contacts_block = ``;

        if (contacts !== null) {
            contacts_block += `<hr><h5 class="card-title">Контакты</h5>`;
            for (let i = 0; i < contacts.length; i++) {
                let contact = contacts[i];
                contacts_block += `<div class="row">
                                <div class="col-lg-6 col-md-6 label">${contact[0]}</div>
                                <div class="col-lg-6 col-md-6 text-end">${contact[1]}</div>
                            </div>`
            }
        }
        let info = `<h5 class="card-title">Общая информация</h5>
                            {#                        <p class="small fst-italic"></p>#}

                            <div class="row">
                                <div class="col-lg-6 col-md-6 label ">ФИО</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["last_name"] ?? ""} ${json["first_name"] ?? ""} ${json["patronymic"] ?? ""}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Пол</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["gender"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Гражданство</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["citizenship"] ?? "-"}
                                    (Тип: ${json["citizenship_type"] ?? "-"})
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Номер телефона</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["phone_number"] ?? "-"}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Email</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["email"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Дата рождения</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["birth_date"] ?? "-"}</div>
                            </div>
                            ${contacts_block ?? ""}
                            <hr>
                            <h5 class="card-title">Документы</h5>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">ИНН</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["INN"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Серия и номер паспорта</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["passport_series"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Дата выдачи паспорта</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["passport_date"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Место выдачи паспорта</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["passport_place"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Образование</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["education"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Дата мед.комиссии</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["med_exam_date"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Физ.лицо</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["individual"] ?? "-"}</div>
                            </div>

                            <hr>
                            <h5 class="card-title">Исполнитель</h5>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label ">ID</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["executor_id"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Дата заключения</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["date_conclusion"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Дата расторжения</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["date_terminated"] ?? "-"}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Роль</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["transport"] ?? "-"}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Основной договор</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["main_contract"] ?? "-"}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Куратор(рекрутер)</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["curator"] ?? "-"}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">ЦФЗ</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["OFC"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Велосипед</div>
                                <div class="col-lg-6 col-md-6 text-warning text-end">${json["bicycle"] ?? "-"}</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 label">Примечание</div>
                                <div class="col-lg-6 col-md-6 text-end">${json["note"] ?? "-"}</div>
                            </div>`;
        let executor_info = document.getElementById('executor_info');
        executor_info.innerHTML = info;
    }

    function set_hours(json) {
        console.log(json);
        let executor_trs = '';
        for (let i = 0; i < json.length; i++) {
            let executor_hour = json[i];
            let tr = `<td>${executor_hour["ofc"] ?? "-"}</td>
                                        <td>${executor_hour["executor"] ?? "-"}</td>
                                        <td>${executor_hour["transport"] ?? "-"}</td>
                                        <td>${executor_hour["period"] ?? "-"}</td>
                                        <td>${executor_hour["executor_id"] ?? "-"}</td>`;

            for (let j = 0; j < executor_hour["day_hours"].length; j++) {
                let hour = `<td>${executor_hour["day_hours"][j]["hour"]}</td>`
                tr += hour;
            }
            tr = `<tr> ${tr} </tr>`;
            executor_trs += tr;
        }
        let tbody = document.getElementById("executor_hours_tbody");
        tbody.innerHTML = executor_trs;
    }
</script>
<script>
    function objectUpdate(elem) {
        let name = elem.dataset.name;
        let update_url = elem.dataset.updateUrl;

        let update_form = document.getElementById('update_form');
        update_form.setAttribute('action', update_url);

        let update_input = document.getElementById('update_input');
        update_input.value = name;
    }

    function objectDelete(elem) {
        let name = elem.dataset.name;
        let delete_url = elem.dataset.deleteUrl;

        let delete_link = document.getElementById('delete_link');
        let delete_span = document.getElementById('delete_span');

        delete_span.innerHTML = name;
        delete_link.setAttribute('href', delete_url);
    }
</script>

<script>

    function addExecutorForCurator(elem) {
        let add_url = elem.dataset.addUrl;
        let add_form = document.getElementById('add_form');
        add_form.setAttribute('action', add_url);

        let full_name_span = document.getElementById('full_name_span');
        let birth_date_span = document.getElementById('birth_date_span');
        let executor_id_span = document.getElementById('executor_id_span_for_add');
        let phone_number_span = document.getElementById('phone_number_span');

        let full_name = elem.dataset.fullName;
        let birth_date = elem.dataset.birthDate;
        let executor_id = elem.dataset.executorId;
        let phone_number = elem.dataset.phoneNumber;
        console.log(executor_id_span)
        console.log(executor_id)
        full_name_span.innerText = full_name;
        birth_date_span.innerText = birth_date;
        executor_id_span.innerText = executor_id;
        phone_number_span.innerText = phone_number;
    }

    function userUpdate(elem) {
        let update_url = elem.dataset.updateUrl;
        let update_form = document.getElementById('update_form');
        update_form.setAttribute('action', update_url);

        let last_name_input = document.getElementById('last_name_input');
        let first_name_input = document.getElementById('first_name_input');
        let patronymic_input = document.getElementById('patronymic_input');
        let email_input = document.getElementById('email_input');
        let phone_number_input = document.getElementById('phone_number_input');
        let username_input = document.getElementById('username_input');
        let password_input = document.getElementById('password_input');
        let role_select = document.getElementById('role_select');

        let last_name = elem.dataset.lastName;
        let first_name = elem.dataset.firstName;
        let patronymic = elem.dataset.patronymic;
        let email = elem.dataset.email;
        let phone_number = elem.dataset.phoneNumber;
        let username = elem.dataset.username;
        let password = elem.dataset.password;
        let role = elem.dataset.role;

        last_name_input.value = last_name;
        first_name_input.value = first_name;
        patronymic_input.value = patronymic;
        email_input.value = email;
        phone_number_input.value = phone_number;
        username_input.value = username;
        password_input.value = password;
        role_select.value = role;
    }

    function OFCUpdate(elem) {
        let update_url = elem.dataset.updateUrl;
        let update_form = document.getElementById('update_form');
        update_form.setAttribute('action', update_url);

        let address_input = document.getElementById('address_input');
        let code_input = document.getElementById('code_input');
        let city_select = document.getElementById('city_select');

        let address = elem.dataset.address;
        let code = elem.dataset.code;
        let city_id = elem.dataset.cityId;

        address_input.value = address;
        code_input.value = code;
        city_select.value = city_id;

    }

    function archiveFileUpdate(elem) {
        let update_url = elem.dataset.updateUrl;
        let update_form = document.getElementById('update_form');
        update_form.setAttribute('action', update_url);

        let description_textarea = document.getElementById('description_textarea');
        let type_select = document.getElementById('type_select');

        let description = elem.dataset.description;
        let type = elem.dataset.type;

        description_textarea.value = description;
        type_select.value = type;
    }
</script>
<script>
    let search_result = document.getElementById('search_result_list');
    let executor_detail_url = '{% url 'app:executor_detail' 'executor_id' %}';

    async function searchExecutors(elem) {
        let search_card = document.getElementById('search_card');
        let value = elem.value;
        console.log(value.length)
        if (value.length > 0 && search_card.classList.contains('d-none')) {
            search_card.classList.remove('d-none');
            search_card.classList.add('d-block');
            search_result.innerHTML = `
        <div class="spinner-border text-primary mt-2 mb-3" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>`;
        } else if (value.length === 0 && search_card.classList.contains('d-block')) {
            search_card.classList.remove('d-block');
            search_card.classList.add('d-none');
        }


        let url = "{% url 'app:executor_search' %}?query=" + value;
        let response = await fetch(url);
        if (response.ok) {
            let json = await response.json();
            console.log(json)
            let executors = json.executors;
            let executor_cards = '';
            for (let i = 0; i < executors.length; i++) {
                let executor = executors[i];
                let executor_url = executor_detail_url.replace('executor_id', executor.executor_id);
                let executor_card = `<div class="card text-custom mb-2 shadow-none border">
                            <div class="card-body pt-2 pb-2">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-1">
                                        <i class="bi bi-person"></i>
                                    </div>
                                    <div class="col-11 text-end">
                                        <a href="${executor_url}">${executor['last_name'] ?? ''} ${executor['first_name'] ?? ''} ${executor['patronymic'] ?? ''}</a> <br>
                                        <span class="text-black-50">${executor.executor_id}</span>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                executor_cards += executor_card;
            }
            search_result.innerHTML = executor_cards;
        } else {
            console.log(response.status);
        }


    }
</script>
<script>
    function trackingStatus() {
        let file_statuses = document.querySelectorAll('div.file_status_block:not([data-file-id=null])');
        file_statuses.forEach((file_status) => {
            let old_status = file_status.dataset.status;
            setInterval(async () => {
                let new_status = await getFileStatus(file_status.dataset.fileId);
                if (old_status !== new_status) {
                    changeFileStatus(file_status, new_status);
                }
                old_status = new_status
            }, 2000)
        });
    }

    async function getFileStatus(file_id) {
        let url = `/archive/${file_id}/status`
        let response = await fetch(url);
        if (response.ok) {
            let json = await response.json();
            return json.status
        } else {
            console.log(response.status);
        }
    }

    function changeFileStatus(elem, new_status) {
        let status = ''
        switch (new_status) {
            case 'NOT_STARTED':
                status = '<i class="bx bx-data text-black-50" title="Загружен, без парсинга"></i>';
                break;
            case 'WAIT':
                status = `<div class="spinner-border text-primary file_preloader_status" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>`;
                break;
            case 'WARNING':
                status = '<i class="bx bx-error-alt text-warning" title="Предупреждение (не критично)"></i>';
                break;
            case 'SUCCESS':
                status = '<i class="bx bx-check-circle text-success" title="Успешно"></i>';
                break;
            case 'ERROR':
                status = '<i class="bx bx-error-circle text-danger" title="Ошибка"></i>';
                break;
        }
        elem.innerHTML = status;
    }

    trackingStatus()
</script>
<script>
    function toggleFilter(elem) {
        elem.classList.toggle('bxs-filter-alt');
        elem.classList.toggle('bx-filter-alt');

        let executor_list_col = document.getElementById('executor_list_col');
        let filter_col = document.getElementById('filter_col');

        executor_list_col.classList.toggle('col-lg-9');
        filter_col.classList.toggle('col-lg-3');
        filter_col.classList.toggle('d-none');
    }


    let filter_names = document.querySelectorAll("span[data-toggle]");
    console.log(filter_names);
    filter_names.forEach((filter_name) => {
        filter_name.addEventListener('click', () => toggleFilterParameters(filter_name))
    });

    function toggleFilterParameters(elem) {
        let collapse_id = elem.dataset.collapse;
        let collapse = document.getElementById(collapse_id);
        collapse.classList.toggle('show');

        let name = elem.querySelector('span');
        name.parentElement.classList.toggle('text-custom')

        let arrow = elem.querySelector('i');
        arrow.classList.toggle('bxs-left-arrow');
        arrow.classList.toggle('bxs-down-arrow');
    }

    document.getElementById('filter_icon').click();
</script>
{% block script %}

{% endblock %}
</body>

</html>